.page_project{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        font-family: "Mona Sans";
        font-size: calc(0.8 * var(--title_size));
        border-bottom: 7px solid white;
        margin-bottom: 2rem;
        padding: 1.5rem 0px;

        span{
            color: #eb5e28;

            &:hover{
                cursor: pointer;
            }
        }
    }

    .project_img{
        width: 80%;
    }

    h2{
        width: 80%;
        font-family: "Mona Sans";
        font-size: calc( var(--title_size)); 
        text-align: start;
        padding: 1.2rem 0px;
    }

    .project_info{
        width: 80%;

        p{
            font-family: "Mona Sans";
            font-size: var(--text_size);
            padding: 2rem 0px;
        }

        hr{
            width: 40%;
            height: 5px;
            background: #eb5e28;
            border: none;
        }

        .lang_info{
            font-family: "Mona Sans";
            font-size: var(--text_size); 
            padding: 2rem 0px;

            .first{
                color: white;
            }

            .items{
                color: #858585;
            }
        }

        .links{
            display: flex;
            gap: 1.5rem;
            padding: 1rem 0px 2rem 0px;

            a{
                padding: 1rem 2rem;
                text-decoration: none;
                font-family: "Mona Sans";
                font-size: var(--text_size);
                border: 1px solid #eb5e28;
                background: none;
                color: #eb5e28;
                transition: 0.2s ease-out;
                &:hover{
                    cursor: pointer;
                    background: #eb5e28;
                    color: black;
                }
            }
        }
    }


}
