.title_ctn{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.395);
    
    .section_title{
        padding: 8rem 0px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 40%;
        font-family: "Mona Sans";
        text-transform: uppercase;
        font-size: var(--big_title_size);
        font-weight: bold;
        width: 75%;

        &.right{
            align-items: flex-end;
            .first{
                color: transparent;
                -webkit-text-stroke: 1px white;
            }
            .second{
                margin-right: 9rem;
                color: #eb5e28;
            }
            .third{
                margin-right: 19rem;
                color: transparent;
                -webkit-text-stroke: 1px white;
            }
        }
        &.left{
            align-items: flex-start;

            .first{
                color: transparent;
                -webkit-text-stroke: 1px white;
            }
            .second{
                text-indent: 9rem;
                color: #eb5e28;
            }
            .third{
                text-indent: 19rem;
                color: transparent;
                -webkit-text-stroke: 1px white;
            }
        }
    
        
    }
}
