.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: url('/assets/bg.png');
    background-size: cover;
    background-position: center;
}

#status{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,50%);
    z-index: -1;
    font-size: var(--big_title_size);
    text-transform: uppercase;
    font-weight: bold;
    color: transparent;
    // white-space:nowrap;
    text-align: center;
    font-family: "Mona Sans";
    -webkit-text-stroke: 1px white;
}

