/* Pour les gros titres de §*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
/* Pour les numéros*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



/* Pour les petits textes importants */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Pour le texte test */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face {
  font-family: "Mona Sans";
  src: url(/assets/fonts/Mona-Sans.woff) format('woff2 supports variations'),
    url(/assets/fonts/Mona-Sans.woff) format('woff2-variations');
}

* {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

:root {
  --main_color: black;
  --second_color: #fff;
  --scd_color: #f1f1f17a;
  --main_bg: url("assets/bg.png");
  --big_title_size: calc(40 * (0.03 * 10vmin));
  --title_size: calc(25px + 2.5vw);
  --text_size: calc(30 * (0.01 * 10vmin));
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  background-image: var(--main_bg);
  background-attachment: fixed;
  background-color: black;
  color: var(--second_color)
}

.layout {
  display: flex;
}

.page_container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.395);
}